html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    line-height: normal;
    height: 100%;
    min-height: 100%;
    height: auto !important;
    position: relative;
    font-family: Arial;
}

p {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 31px;

    font-family: Minion Pro;
    padding: 0;
    margin: 0;
}

.clear {
    clear: both;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

header.header {
    width: 100%;
    height: 127px;
    position: relative;
    background: url(/images/heare_top.png) repeat-x left top;
    border-width: 0 0 1px 0;
    border-color: #ccd4db;
    border-style: solid;

}

.center {
    position: relative;
    width: 1170px;
    margin: 0 auto;

}

.account_link {
    position: absolute;
    top: 8px;
    right: 221px;
}

.account_link a {
    font-family: Tahoma;
    color: #fff;
    font-size: 17px;
}

.logo {
    position: absolute;
    top: 55px;
    left: 35px;
}

.logo a {
    display: block;
    width: 139px;
    height: 53px;
    background: url(/images/logo.jpg) no-repeat left top;
}

/**************** header ************************/
header nav {
    position: absolute;
    top: 50px;
    left: 218px;
}

header nav li {
    float: left;
    height: 69px;
    line-height: 69px;
    padding: 0 22px 0 25px;
    background: url(/images/separator.png) no-repeat left top;

}

header nav li.first {

    background: none;

}

header nav li a {
    color: #5a9fdf;
    font-family: Verdana;
    font-size: 16px;
    text-decoration: none;
}

.ed_project a {
    position: absolute;
    top: 52px;
    width: 111px;
    height: 47px;
    overflow: hidden;
    color: #fff;
    font-family: Verdana;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0 0 0;
}

.add_project {
    right: 151px;
    background: url(/images/add_project.png) no-repeat left top;
}

.dev_project {
    right: 25px;
    background: url(/images/add_project.png) no-repeat left top;

}

/********************* social  *******************/
header .social {
    position: absolute;
    top: 8px;
    right: 30px;
}

.social ul li {
    list-style: none;
    float: left;
    padding: 0;
    margin: 0 6px 0 0;
    width: 19px;
    height: 19px;
    overflow: hidden;
}

.social ul li a {
    display: block;
    width: 19px;
    height: 19px;
}

.social ul li a.vk {
    background: url(/images/vk.jpg) no-repeat left top;
}

.social ul li a.odn {
    background: url(/images/odn.jpg) no-repeat left top;
}

.social ul li a.mail {
    background: url(/images/mail.jpg) no-repeat left top;
}

.social ul li a.tw {
    background: url(/images/tw.jpg) no-repeat left top;
}

.social ul li a.fbook {
    background: url(/images/fbook.jpg) no-repeat left top;
}

/*********************** search **************************/
.search {
    position: absolute;
    top: 71px;
    left: 654px;
    width: 212px;
    height: 22px;
    overflow: hidden;

}

.search .search_field {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0 40px 0 10px;
    width: 162px;
    height: 22px;
    overflow: hidden;
    border: 0;
    background: url(/images/search_field.png) no-repeat left top;
}

.search .search_field:focus {
    outline: none;
    border: 0;
}

.search .search_button {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 35px;
    height: 18px;
    overflow: hidden;
    border: 0;
    cursor: pointer;
    background: url(/images/search_button.png) no-repeat left top;
}

/****************************** header_slider ******************/
.header_slider {
    position: relative;
    width: 100%;
    background: url(/images/header_slider_bg.jpg) repeat-x left top;
    height: 358px;

}

.slider_bg {
    position: relative;
    width: 621px;
    height: 272px;
    top: 40px;
    margin: 0 auto;
    background: url(/images/slider_bg.png) no-repeat left top;

}

.slider {
    position: relative;
    width: 598px;
    height: 249px;
    top: 12px;
    left: 12px;
    overflow: hidden;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;

}

.slider #img_box {
    position: relative;
}

.slider #img_box .item {
    float: left;
    position: relative;
    height: 249px;
    width: 598px;
}

.slider #imgthumb_shape {
    position: absolute;
    bottom: 28px;
    left: 247px;
    z-index: 10;
}

.slider #imgthumb_shape .thumblink_shape {
    display: block;
    position: relative;
    float: left;
    width: 15px;
    height: 15px;
    margin: 0 15px 0 0;
    background: url(/images/thumblink_shape.png) no-repeat left bottom;
}

.slider #imgthumb_shape .select {

    background-position: left top;
}

.slider .description {
    position: absolute;
    right: 0;
    top: 0;
    width: 270px;
    height: 193px;
    overflow: hidden;
    padding: 20px 39px 0 0;

}

.slider .description h1 {
    color: #4e90cd;
    font-family: Tahoma;
    font-size: 28px;
    padding: 0;
    margin: 0 0 15px 0;
}

.slider .description p {
    color: #6a6a6a;
    font-family: Tahoma;
    font-size: 13px;
    padding: 0;
    margin: 0;
    height: 105px;
    overflow: hidden;
}

.slider .description .read_more {
    position: absolute;
    right: 39px;
    bottom: 0;
    width: 106px;
    height: 36px;
    background: url(/images/read_more.png) no-repeat left top;
}

/******************** projects ************************/
.projects {
    height: 381px;

}

.project {
    position: relative;
    float: left;
    width: 695px;
    height: 318px;
}

.project h2 {
    color: #696969;
    font-family: Tahoma;
    font-size: 26px;
    font-weight: 100;
    margin: 15px 0 25px 0;
}

.project h2 span {

    color: #569bde;

}

.project .item {
    border-color: #bbbbbb;
    border-style: solid;
    border-width: 0 1px 0 0;
    height: 263px;

}

.project .item .img {
    float: left;
    width: 346px;
    height: 263px;
    overflow: hidden;
    border: #eee 3px solid;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

}

.project .item .description {

    width: 300px;
    margin: 0 0 0 369px;

}

.project .item .description h3 {
    margin: 0 0 15px 0;
    line-height: 20px;

}

.project .item .description h3 a {
    color: #569bde;
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
    font-weight: 100;

}

.project .item .description h3 a:hover {
    text-decoration: underline;

}

.project .item .description h3 p {
    color: #696969;
    font-family: Arial;
    font-size: 16px;

}

.project .item .description .icons {
    position: relative;
    margin: 30px 0 0 0;

}

.project .item .description .icons li {
    float: left;
    height: 42px;
    width: 41px;
    margin: 0 32px 0 0;

}

.project .more_tech {
    position: absolute;
    color: #696969;
    font-family: Tahoma;
    top: 7px;
    right: 18px;
    font-size: 16px;
    font-weight: 100;

}

.calendar {
    width: 410px;
    height: 320px;
    margin: 25px 0 0 710px;

}

.calendar .select {
    position: absolute;
    top: 0px;
    right: 98px;
}

.calendar h2 {
    color: #569bde;
    font-family: Tahoma;
    font-size: 26px;
    font-weight: 100;
    margin: 0 0 25px 0;
}

.cal_nav {
    position: relative;
    height: 90px;
    width: 240px;
}

.cal_nav .day {
    position: absolute;
    height: 29px;
    width: 83px;
    top: 0;
    left: 0;
    line-height: 29px;
    text-align: center;
    color: #6c6c6c;
    font-family: Verdana;
    font-size: 17px;
    text-decoration: none;

}

.cal_nav .month {
    position: absolute;
    height: 29px;
    width: 83px;
    top: 0;
    right: 0;
    line-height: 29px;
    text-align: center;
    color: #fff;
    font-family: Verdana;
    font-size: 17px;
    background: transparent url(/images/cal_nav.png) no-repeat 0 0;
    text-decoration: none;

}

.cal_nav .today {
    position: relative;

    top: 35px;

    text-align: center;
    color: #000;
    font-family: Verdana;
    font-size: 16px;
    text-decoration: none;

}

.cal_nav .today b {

    font-size: 34px;
    font-weight: 100;

}

.cal_nav .today a {
    position: absolute;
    display: block;
    height: 29px;
    width: 10px;
    top: 5px;
}

.cal_nav .today .next {
    right: 0;
    background: transparent url(/images/next-horizontal-small.png) no-repeat 0 0;
}

.cal_nav .today .prev {
    left: 0;
    background: transparent url(/images/prev-horizontal-small.png) no-repeat 0 0;
}

.projects_from_cal {
    position: relative;
    width: 350px;
    height: 190px;
    overflow-y: auto;
    padding: 0 40px 0 0;
}

.projects_from_cal:focus {
    outline: none;
    border: 0;
}

.projects_from_cal article {
    margin: 20px 0 5px 0;

}

.projects_from_cal article header {

}

.projects_from_cal h1 {
    margin: 0;
    line-height: 13px;
    font-size: 1.5em;
}

.projects_from_cal h1 a {
    color: #5990c4;
    font-family: Verdana;
    font-size: 12px;
    text-decoration: none;

}

.projects_from_cal h1 a:hover {
    text-decoration: underline;

}

.projects_from_cal p {
    color: #3c3c3c;
    font-family: Verdana;
    font-size: 12px;

}

/********************** popular_projects **********************/

.popular_projects {
    position: relative;
    height: 429px;
    width: 100%;
    background: #eeeeee;
    border-color: #ccd4db;
    border-style: solid;
    border-width: 1px 0;
    margin: 0 0 43px 0;

}

.popular_projects h2 {
    color: #4f90cd;
    font-family: Tahoma;
    font-size: 29px;
    font-weight: 100;
    margin: 15px 0 25px 0;
}

.slider_popular_projects {
    width: 610px;
    float: left;

}

.popular_projects  .jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 577px;
    height: 316px;
    padding: 0px 13px;
}

.popular_projects  .jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.popular_projects  .jcarousel-skin-tango .jcarousel-clip-horizontal {
    position: relative;
    left: 21px;
    width: 558px;
    height: 316px;
}

.popular_projects  .jcarousel-skin-tango .jcarousel-item {
    width: 150px;
    height: 300px;
    padding: 3px;
    border: #e7e7e7 3px solid;
    background: #fff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

}

.popular_projects  .jcarousel-skin-tango .jcarousel-item a {
    text-decoration: none;
}

.popular_projects  .jcarousel-skin-tango .jcarousel-item h3 {
    color: #569bde;
    font-family: Tahoma;
    font-size: 14px;
    line-height: normal;
}

.popular_projects  .jcarousel-skin-tango .jcarousel-item p {
    color: #6d6d6d;
    font-family: Tahoma;
    font-size: 12px;
    line-height: normal;
}

.popular_projects  .jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 25px;
}

/**
 *  Horizontal Buttons
 */
.popular_projects  .jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 159px;
    right: 0px;
    width: 12px;
    height: 21px;
    cursor: pointer;
    background: transparent url(/images/next-arr.png) no-repeat 0 0;
}

.popular_projects  .jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 159px;
    left: 0px;
    width: 12px;
    height: 21px;
    cursor: pointer;
    background: transparent url(/images/prev-arr.png) no-repeat 0 0;
}

.forums {
    margin: 0 0 0 625px;
    width: 335px;

}

.forums article {
    margin: 0 0 35px 0;

}

.forums article header {
    width: 335px;
    height: auto;
    position: relative;

}

.forums article time {
    color: #696969;
    font-family: Tahoma;
    font-size: 13px;

}

.forums h1 {
    margin: 0;
    line-height: 13px;
    font-size: 1.5em;
}

.forums h1 a {
    color: #569bde;
    font-family: Tahoma;
    font-size: 13px;
    text-decoration: none;

}

.forums h1 a:hover {
    text-decoration: underline;

}

.forums p {
    color: #696969;
    font-family: Tahoma;
    font-size: 13px;

}

.fb_group {
    position: absolute;
    top: 0px;
    right: 23px;

    border: #e7e7e7 3px solid;

    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

}

/**********************partners**********************/
.partners {
    height: 200px;
    padding: 0 0 95px 0;
}

.partners h2 {
    color: #4f90cd;
    font-family: Tahoma;
    font-size: 29px;
    font-weight: 100;
}

.partners .slider_partners {
    position: relative;
    width: 983px;
    height: 81px;
    top: 30px;
    left: 95px;
}

.partners  .jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 957px;
    height: 81px;
    padding: 0px 13px;
}

.partners  .jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.partners  .jcarousel-skin-tango .jcarousel-clip-horizontal {
    position: relative;
    left: 55px;
    width: 895px;
    height: 81px;
}

.partners  .jcarousel-skin-tango .jcarousel-item {
    width: 150px;
    height: 81px;
}

.partners  .jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-left: 0;
    margin-right: 30px;
}

/**
 *  Horizontal Buttons
 */
.partners  .jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 25px;
    right: 0px;
    width: 12px;
    height: 36px;
    cursor: pointer;
    background: transparent url(/images/next-horizontal.png) no-repeat 0 0;
}

.partners  .jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 25px;
    left: 0px;
    width: 12px;
    height: 36px;
    cursor: pointer;
    background: transparent url(/images/prev-horizontal.png) no-repeat 0 0;
}

/************************page********************/
.page {
    position: relative;
    width: 1170px;
    min-height: 500px;
    margin: 0 auto 70px auto;
}

.page .content {
    position: relative;
    margin: 53px 300px 0 0;
    padding: 0 60px 0 137px;
}

.page .right {
    position: relative;
    width: 270px;
    float: right;
    padding: 0 0 0 38px;
    margin: 53px 0 0 0;

    background: url(/images/separator.jpg) no-repeat left top;

}

.page .content h1 {

    color: #4e90cd;
    font-family: Tahoma;
    font-size: 31px;
    font-weight: 100;
    padding: 0;
    margin: 0 0 35px 0;

}

.page .content p {

    color: #6a6a6a;
    font-family: Tahoma;
    font-size: 13px;

    padding: 0;
    margin: 0 0 20px 0;
}

/****************** page_project **************************/
.page_project {
    width: 100%;
    min-height: 500px;
    margin: 0 0 70px 0;
    background: #eeeeee;
}

.page_project_inner {
    width: 836px;
    margin: 0 auto;
    position: relative;
    padding: 0 0 30px 0;
}

.all_projects {
    position: absolute;
    top: 20px;
    right: 23px;
    color: #696969;
    font-family: Tahoma;
    font-size: 16px;

}

.nav {
    position: relative;
    padding: 20px 0 0px 0;
    color: #696969;
    font-family: Tahoma;
    font-size: 19px;
}

.nav a {

    color: #569bde;
    text-decoration: none;
}

.page_project_inner h1 {

    color: #569bde;
    font-family: Arial;
    font-size: 26px;
    font-weight: 100;
    padding: 0;
    margin: 30px 0;
    width: 650px;
}

.project_content {
    border: 3px solid #d9e3e7;
    background: #fff;
    padding: 19px 18px 50px 13px;
    margin: 0 0 30px 0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.project_menu {
    height: 27px;
    position: relative;
    margin: 0 0 18px 0;
}

.project_menu ul li {
    float: left;
    margin: 0 40px 0 0;
}

.project_menu ul li a {
    display: block;
    padding: 0 8px;
    height: 27px;
    line-height: 27px;
    text-decoration: none;
    color: #000;
    font-family: Arial;
    font-size: 15px;
    border: 1px solid #fff;
}

.project_menu ul li a.selected, .project_menu ul li a:hover {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #569bde;
    border: 1px solid #467eb4;
    color: #ffffff;
}

.project_content .project_left_content {
    position: relative;
    margin: 0 328px 0 0;
    padding: 0;
    min-height: 500px;
}

.project_content .project_left_content p {

    color: #696969;
    font-family: Arial;
    font-size: 16px;

    padding: 0;
    margin: 0 0 20px 0;

}

.project_content .project_left_content img {
    border: 3px solid #d9e3e7;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.project_content .project_right_content {
    position: relative;
    width: 260px;
    float: right;
    padding: 20px 25px 40px 15px;
    margin: 0 0 0 0;
    background: #eeeeee;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;

}

.project_content .project_right_content p {

    color: #569bde;
    font-family: Tahoma;
    font-size: 18px;

    padding: 0;
    margin: 0 0 17px 0;

}

.project_content .project_right_content li {
    float: left;
    height: 42px;
    width: 41px;
    margin: 0 22px 0 0;

}

/****************** secand_menu **************************/
.secand_menu li {

    margin: 0 0 20px 0;

}

.secand_menu li a {

    color: #4e90cd;
    font-family: Tahoma;
    font-size: 16px;
    text-decoration: none;
}

.secand_menu li a:hover {
    text-decoration: underline;
}

.secand_menu li ul li a {

    color: #6a6a6a;

}

.secand_menu li ul li {
    margin: 0;
    position: relative;
}

/****************** footer **************************/

.pad {
    height: 151px;
    clear: both;
}

footer {
    position: absolute;
    bottom: 0;
    height: 151px;
    width: 100%;
    clear: both;

}

.footer_center {
    position: relative;
    height: 151px;
    width: 1170px;
    margin: 0 auto;
    background: url(/images/footer_bg.png) no-repeat center top;

}

footer .copyr {
    position: absolute;
    top: 21px;
    left: 51px;

}

footer .copyr p {
    color: #fff;
    font-family: Tahoma;
    font-size: 15px;

}

footer .social {
    position: absolute;
    top: 38px;
    right: 40px;
}

/********************************************/
/********************************************/
/********************************************/
/********************************************/
/********************************************/

/******* admin *********/

table {
    width: 100%;
}

input, select {
    width: 100%;
}

input[type="checkbox"] {
    width: 14px;
}

textarea {
    width: 100%;
    height: 250px;
}

#save {
    width: 100px;
}

.tedit {
    background-color: #ebf4ff;
    padding: 10px;
    width: 120px;
}

.tdel {
    background-color: #ebf4ff;
    padding: 10px;
    width: 50px;
}

a.tdel {
    color: #830000;
}

a.tedit {
    color: #1465c0;
}

.ttovar {
    background-color: #f7f7f7;
    color: #000000;
    padding: 10px;
}

a.ttovar {
    color: #000000;
}

.ttovar_title {
    background-color: #f7f7f7;
    padding: 10px;
    width: 210px;
}

.sub-menu {
    padding-left: 15px;
    padding-top: 10px;
    margin-bottom: 20px;
    height: 40px;
    width: 520px;
    background: url(/images/submenu.png) top left no-repeat;
    vertical-align: middle;
}

.document {
    list-style: none;
    padding: 0;
}

.document li {
    padding: 5px 0;
}

.doc_text {
    text-align: justify;
}

.admin_menu_link {
    position: absolute;
    top: 8px;
    left: 20px;
}

.admin_menu_link a {
    font-family: Tahoma, sans-serif;
    color: #fff;
    font-size: 17px;
}

.page .content_admin {
    position: relative;
    margin: 53px 0 0 0;
    padding: 0 60px 0 60px;
}

.page .content_admin h1 {
    color: #4e90cd;
    font-family: Tahoma, sans-serif;
    font-size: 31px;
    font-weight: 100;
    padding: 0;
    margin: 0 0 35px 0;
}

.well li {
    position: relative;
}

.well .nav {
    padding: 0 15px;
    position: relative;
    color: #696969;
    font-family: Tahoma;
    font-size: 14px;
}

.edit {
    position: absolute;
    right: 15px;
    top: 5px;
}

.del {
    position: absolute;
    right: 0;
    top: 5px;
}

/* Main menu */

#menu li {
    /*
    float: left;
    padding: 0 0 10px 0;
    */
    position: relative;
    /*line-height: 0;*/
}

#menu a {
    /*
    float: left;
    height: 25px;
    padding: 0 25px;
    color: #fff;
    text-transform: uppercase;
    font: bold 12px/25px Arial, Helvetica;
    text-decoration: none;
    */
}

#menu li:hover > a {
    /*
        color: #fafafa;
        */

}

*html #menu li a:hover /* IE6 */
{
    color: #fafafa;
}

#menu li:hover > ul {
    display: block;
}

/* Sub-menu */

#menu ul {
    list-style: none;
    margin: 2px;
    padding: 2px;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 99999;
    background: #1a444a;
    background: -moz-linear-gradient(#1a444a, #111);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111), color-stop(1, #1a444a));
    background: -webkit-linear-gradient(#1a444a, #111);
    background: -o-linear-gradient(#1a444a, #111);
    background: -ms-linear-gradient(#1a444a, #111);
    background: linear-gradient(#1a444a, #111);
    -moz-box-shadow: 0 0 2px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, .5);
    box-shadow: 0 0 2px rgba(255, 255, 255, .5);
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul ul {
    top: 0;
    left: 150px;
}

#menu ul li {
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#menu ul a {
    font-size: 12px;
    padding: 10px;
    height: 10px;
    width: 130px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html #menu ul a /* IE6 */
 {
    height: 10px;
}

*:first-child+html #menu ul a /* IE7 */
 {
    height: 10px;
}

#menu ul a:hover {
    background: #0186ba;
    background: -moz-linear-gradient(#04acec, #0186ba);
    background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
    background: -webkit-linear-gradient(#04acec, #0186ba);
    background: -o-linear-gradient(#04acec, #0186ba);
    background: -ms-linear-gradient(#04acec, #0186ba);
    background: linear-gradient(#04acec, #0186ba);
}

#menu ul li:first-child > a {
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul ul li:first-child a:after {
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid #444;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #04acec;
}

#menu ul ul li:first-child a:hover:after {
    border-right-color: #04acec;
    border-bottom-color: transparent;
}

#menu ul li:last-child > a {
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
#menu:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html #menu {
    zoom: 1;
}

/* IE6 */
*:first-child+html #menu {
    zoom: 1;
}

/* IE7 */

